<div class="btn">
  <%= link_to "日記を作成する", new_diary_path %>
</div>
<div class="index">
  <% @diaries.each do |diary| %>
    <div class="content">
      <%= link_to diary_path(diary) do %>
        <%= diary.title %>
      <% end %>
    </div>
  <% end %>
</div>
